/* RESET */

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* FONTS */

@font-face {
    font-family: 'Hero';
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Main-font';
    src: url("../fonts/Poppins-Regular.ttf");
}

/* COLORS */

:root {
    --principal: #705693;
    --emphasis: #F3AA3A;
    --neutro: #9B94A6;
    --light: #D2C8E0;
    --dark: #4A3961;
}

.--white {
    color: white;
}

.--principal {
    color: var(--principal);
}

.--dark {
    color: var(--dark);
}

.--emphasis {
    color: var(--emphasis);
}

a {
    color: inherit;
}

/*------------------------------------------ GENERALES STYLES ------------------------------------------*/

body {
    overflow-x: hidden;
    overflow-y: auto;
    /* Fonts */
    font-family: 'Main-font', sans-serif;
}

/* TITLES AND SUBTITLES */

.h1 {
    font-size: 1.5em;
}

.h2 {
    font-size: 1.05em;
}

.h3 {
    font-size: 1.1em;
}

.subheader {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0 auto;
}

/* OTHER STYLES */

.--uppercase {
    text-transform: uppercase;
}

p {
    max-width: 75ch;
    font-size: 1em;
}

/* BUTTONS */

.--hero_button {
    background-color: #fefefe;
    height: 3em;
    width: max(15em, 10%);
    margin-top: 1em;
    border: 1px solid #fefefe;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.19);
    color: var(--dark);
    font-size: 1rem;
    font-weight: bold;
    transition: 500ms all;
    cursor: pointer;
    touch-action: manipulation;
}

.--hero_button:hover {
    background-color: rgba(240, 240, 240, 0.261);
    border-color: #fefefe;
    color: #fefefe;
    outline: 0;
}

.--button {
    height: 3em;
    width: min(10em, 90%);
    border: 1px solid #fefefed3;
    border-radius: 50px;
    box-shadow: 1px 3px 7px rgba(51, 45, 65, 0.3);
    color: #fefefe;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    touch-action: manipulation;
    background-size: 300% 100%;
    background-image: linear-gradient(to right,
            var(--dark),
            var(--principal),
            var(--light),
            #ffe7c4,
            #ffbc58,
            var(--emphasis));
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.--button:hover,
.--button:active {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgba(51, 51, 51, 0.87);
}

.--button:active {
    outline: none;
    background-color: #fefefe;
    box-shadow: 1px 3px 7px rgba(45, 54, 65, 0.50) inset;
}

/*------------------------------------------ GRID LAYOUT ------------------------------------------*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
    min-height: 100vh;
}

/* WRAPPER SECTIONS */

.wrapper header {
    grid-row: 1;
    grid-column: span 4;
}

.wrapper main {
    grid-row: 2;
    grid-column: span 4;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    width: 100%;
    min-height: 100vh;
}

.wrapper footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    justify-items: center;

    grid-row: 3;
    grid-column: span 4;
}

/* MAIN SECTIONS */

section.hero_section {
    grid-row: 1;
    grid-column: span 4;
}

section.about {
    grid-row: 2;
    grid-column: span 4;
}

section.services {
    grid-row: 3;
    grid-column: span 4;
}

section.team {
    grid-row: 4;
    grid-column: span 4;
}

section.gallery {
    grid-row: 5;
    grid-column: span 4;
}

/* FOOTER SECTIONS */

.footer__contact {
    grid-row: 1;
    grid-column: span 4;
}

.footer__waves {
    grid-row: 2;
    grid-column: span 4;
}

.footer__links {
    grid-row: 3;
    grid-column: span 4;
    background-color: var(--dark);
}

.footer__ubication {
    grid-row: 4;
    grid-column: span 4;
    background-color: var(--dark);
}

.footer__social {
    grid-row: 5;
    grid-column: span 4;
    background-color: var(--dark);
}

.footer__legal {
    grid-row: 6;
    grid-column: span 4;
    background-color: var(--dark);
    color: white;
}

/*------------------------------------------ NAV MENU ------------------------------------------*/

.nav_menu {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 50vh;
    width: 90%;
    border-radius: 0 0 20px 20px;
    background-color: #4a3961f5;
    color: #fefefe;
    font-size: 1.1em;
    z-index: 1;
}

.nav_menu a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.nav_menu a:hover {
    background-color: var(--emphasis);
    color: rgba(51, 51, 51, 0.87);
    font-weight: bold;
}

.nav_menu a:last-child {
    border-radius: 0 0 20px 20px;
}

/*------------------------------------------ HEADER ------------------------------------------*/

header {
    position: relative;
    background-color: var(--principal);
    height: 4em;
    width: 100%;
}

.header__logo {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    left: min(7%, 2.5em);
    height: 2.3em;
    width: 6em;
    z-index: 1;
}

.header__logo img {
    position: absolute;
    top: 66%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    /* border: 0.75em solid white; */
    /* box-shadow: 0 0 2px rgb(112 86 147 / 50%); */
}

.header__menu_icon {
    position: absolute;
    top: 1.2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1.5rem;
    width: 2rem;
    margin-right: 7%;
    border: 0;
    background: transparent;
    gap: .6rem;
}

.header__menu_icon>div {
    background-color: #fefefe;
    height: 0.4em;
    width: 100%;
    border-radius: 10px;
    transition: all .5s;
    transform-origin: left;
}

/*------------------------------------------ HERO SECTION ------------------------------------------*/

.--hero {
    font-family: 'Hero', cursive;
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 3.5rem;
}

.hero_section {
    height: 91vh;
    min-height: 540px;
    background-image: url(../images/hero3.jpg);
    background-size: cover;
    background-position: center;
    font-size: 2.3rem;
}

.hero_section__color {
    height: 100%;
    width: 100%;
    background-color: #70569362;
}

.hero_section__wrap {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    text-align: center;
    max-width: 70ch;
    color: white;
}

.hero_section__wrap p {
    font-size: 1rem;
    max-width: 60ch;
}

/*------------------------------------------ ABOUT ------------------------------------------*/

.about::before {
    content: '';
    display: block;
    background-image: url(../images/wave-header.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 20rem;
    width: 100%;
    margin: -22.8rem 0 3rem 0;
    z-index: 5;
}

.about__wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.about__wrap p {
    margin: 0 auto;
}

/*------------------------------------------ SERVICES ------------------------------------------*/

.services * {
    border: none;
}

.services {
    display: flex;
    justify-content: center;
    width: 100%;
}

.services__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.services__title {
    text-align: center;
    width: 100%;
}

.services__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    color: var(--dark);
}

.services__cards__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 2.5rem auto 4rem;
    gap: 1rem;
    justify-items: center;
    max-width: 650px;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--light);
    box-shadow:
        2px 2px 1.8px rgba(0, 0, 0, 0.022),
        4px 4px 4.2px rgba(0, 0, 0, 0.031),
        5px 5px 7.9px rgba(0, 0, 0, 0.039),
        5.6px 5.6px 14.6px rgba(0, 0, 0, 0.048),
        6px 6px 25px rgba(0, 0, 0, 0.07);
}

.services__cards__item__color {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.services__cards__item__color>div:first-child {
    position: absolute;
    background-color: white;
    height: 117px;
    width: 316px;
    bottom: -40px;
    right: -72px;
    transform: rotate(35deg);
}

.services__cards__item__color>div:last-child {
    position: absolute;
    background-color: white;
    height: 117px;
    width: 316px;
    bottom: -40px;
    left: -72px;
    transform: rotate(-35deg);
}

.services__cards__item button {
    margin-top: 0.8rem;
}

.services__card__figure {
    height: 244px;
    width: 244px;
    margin: 0 auto;
    padding: 1.4rem 0;
    overflow: hidden;
    border-radius: 10px;
}

.services__card__figure img {
    height: 200px;
    z-index: 2;
}

.services__cards__item.--1 img {
    transform: translate(-23.4%, 0);
}

.services__cards__item.--2 img {
    transform: translate(-51%, 0);
}

.services__cards__item.--3 img {
    transform: translate(3%, 0);
}

.team {
    background-color: lightblue;
    height: 100px;
    width: 100%;
}

.team_wrap {
    background-color: lightblue;
    height: 100%;
    width: 90%;
}

/*------------------------------------------ TEAM ------------------------------------------*/

/* .team {
    position: relative;
    width: 100%;
    margin-bottom: -20%;
    font-size: 1rem;
}

.team p {
    max-width: 90%;
    padding: 0.5em 0;
}

.team p.subheader {
    font-size: 2em;
    padding: 0;
}

.team .h3 {
    padding: 0.3em 0;
    font-size: 1.2em;
}

.team__wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 120%;
    width: 100%;
    min-width: 266px;
    margin-top: 20vw;
    padding-bottom: 30%;
    background-image: linear-gradient(#FFFFFF, #E4E4E4);
}

.team__wrap::before {
    content: '';
    position: absolute;
    top: -25vw;
    display: block;
    height: 25vw;
    width: 100%;
    background-image: url("../images/wave-about.svg");
    background-size: cover;
}

.team__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    height: auto;
    width: 90%;
    max-width: 1700px;
}

.team__wrap>* {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding-bottom: 10%;
}

.team__wrap>*:nth-child(1) {
    text-align: center;
    flex: 1 1 351px;
}

.team__wrap>*:nth-child(2) {
    flex: 1 0 340px;
    padding: 0 5%;
}

.team__wrap__photo {
    position: relative;
}

.team__wrap__photo__container {
    position: relative;
    width: 70%;
    padding: 3%;
    color: #333333;
    border: 1px solid #ccc;
    background-color: rgb(255, 253, 251);
    box-shadow: 0px 0px 4px #C9C9C9;
    transform-origin: center 40px;
}

.team__wrap__photo__container:hover {
    transform-origin: center 40px;
    cursor: pointer;
}

.team__wrap__photo::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 40%;
    height: 18%;
    width: 18%;
    background-image: url("../images/pin.webp");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    z-index: 1;
}

.team__wrap__photo__container--photo {
    height: 100%;
    width: 100%;
} */

/*------------------------------------------ GALLERY ------------------------------------------*/

.gallery__wrap * {
    border: none;
}

.gallery__wrap {
    display: flex;
    height: 300px;
    width: 100%;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: scroll !important;
    transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
    scroll-behavior: smooth;
}

.gallery__wrap::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
}

.gallery__wrap::-webkit-scrollbar-track {
    background: transparent;
}

.gallery__wrap::-webkit-scrollbar-thumb {
    background: #888;
}

.gallery__wrap::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gallery__wrap img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.gallery__wrap__img {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.gallery__wrap__img img {
    height: 100%;
    width: 90vw;
    margin: 0 5vw;
    border-radius: 15px;
    cursor: pointer;
    transition: .25s ease-in-out;
}


/*------------------------------------------ FOOTER ------------------------------------------*/

footer {
    position: relative;
    width: 100%;
    min-width: 266px;
    font-size: 0.9rem;
    color: white;
}

footer a:hover {
    font-weight: bold;
    color: var(--emphasis);
}

/*-------- FOOTER CONTACT --------*/

.footer__contact {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-bottom: -3rem;
    width: 100%;
}

.contact__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}

.footer__contact__reviews,
.footer__contact__form {
    height: 100%;
    max-width: 400px;
    margin: 0 1em;
    flex-grow: 1;
}



.footer__contact__reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 43%;
}

.footer__contact__reviews__dog {
    width: 9rem;
    z-index: 1;
    -webkit-filter: drop-shadow(1px 0 5px rgba(34, 34, 34, 0.516));
    filter: drop-shadow(1px 0 5px rgba(34, 34, 34, 0.516));
    margin: 0 auto;
}

.footer__contact__reviews__sign,
.footer__contact__form {
    border-radius: 10px;
    box-shadow:
        0.2px 5.2px 2.1px rgba(0, 0, 0, 0.048),
        0.3px 8.5px 4.5px rgba(0, 0, 0, 0.07),
        0.4px 10.6px 7.2px rgba(0, 0, 0, 0.086),
        0.5px 12.7px 10.4px rgba(0, 0, 0, 0.103),
        0.7px 16.8px 14.2px rgba(0, 0, 0, 0.124),
        1px 25px 19px rgba(0, 0, 0, 0.16);
}

.footer__contact__reviews__sign {
    background-color: #c2bbcc;
    height: 10rem;
    width: 100%;
    margin-top: -0.8rem;
    padding: 1.5rem 1.3em;
    text-align: center;

}



.footer__contact__form {
    flex-basis: 44.04%;
    height: 100%;
    padding: 1rem 1em;
    border: 1px solid rgba(187, 187, 187, 0.199);
    background-color: #fefefe;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.form__field {
    width: 100%;
}

.form__field input,
.form__field textarea {
    font-family: 'Main-font', sans-serif;
    width: 100%;
    padding: 1.3em;
    border: none;
    outline-color: var(--light);
    background-color: #8e74b124;
}

.form__field input {
    height: 3em;
    border-radius: 50px;
}

.form__field textarea {
    height: 8em;
    border-radius: 20px;
    resize: none;
}

/*-------- FOOTER WAVES --------*/

.footer__waves {
    position: relative;
    height: 100px;
    width: 100%;
}

.waves__wave--w1 {
    position: absolute;
    height: 100px;
    width: 100%;
    background-size: 1920px 100px;
    background-image: url("../images/w1.svg");
    background-position-x: 1100px;
}

/*-------- FOOTER LINKS --------*/

.footer__links,
.footer__ubication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__links {
    gap: 1.5em;
    padding: 1.5rem 10%;
}

.footer__links__logo {
    height: 8em;
    width: 8em;
    border-radius: 2px;
}

.footer__links__logo img {
    width: 100%;
    height: 100%;
}

.footer__links__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

/*-------- FOOTER UBICATION --------*/

.footer__ubication {
    gap: 1em;
}

.footer__ubication__map {
    border-radius: 15px;
    height: 13rem;
    width: min(75%, 20em);
    overflow: hidden;
}

.footer__ubication p {
    font-size: 0.8em;
    text-align: center;
}

/*-------- FOOTER SOCIAL --------*/

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 1.5rem 10%;
    font-size: 2em;
}

.footer__social a {
    min-width: 1.1em;
    text-align: center;
}

.footer__social i:hover {
    font-size: 1.1em;
    color: #ffa51e;
}

/*-------- FOOTER LEGAL --------*/

.footer__legal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer__legal__policies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5em;
}

.footer__legal__policies>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__legal__policies p {
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 88px;
    text-align: center;
}

.footer__legal__policies div p {
    min-width: 195px;
}

.footer__legal__attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutro);
    height: 3em;
    width: 100%;
    color: black;
}

/*------------------------------------------ MEDIA QUERIES ------------------------------------------*/

/* @media only screen and (max-width: 320px) {}
 */

@media only screen and (min-width: 768px) {

    /*------------------------------------------ GRID LAYOUT ------------------------------------------*/

    /* WRAPPER SECTIONS */

    .wrapper footer {
        grid-template-columns: repeat(8, 1fr);
        /**/
        grid-template-rows: repeat(5, auto);
        /**/
    }

    /* FOOTER SECTIONS */

    .footer__contact {
        grid-column: span 8;
        /**/
    }

    .footer__waves {
        grid-column: span 8;
        /**/
    }

    .footer__links {
        grid-row: 3;
        /**/
    }

    .footer__ubication {
        grid-row: 3 / span 2;
        /**/
    }

    .footer__social {
        grid-row: 4;
        /**/
    }

    .footer__legal {
        grid-row: 5;
        /**/
        grid-column: span 8;
        /**/
    }

    /*------------------------------------------ HERO SECTION ------------------------------------------*/

    .--hero {
        font-size: 3rem;
        /**/
        line-height: 4rem;
        /**/
    }

    .hero_section__wrap {
        top: 45%;
        /**/
        gap: 2.5rem;
        /**/
    }

    .hero_section__wrap p {
        font-size: 1.2rem;
        /**/
    }

    /*------------------------------------------ FOOTER ------------------------------------------*/


    /*-------- FOOTER LINKS --------*/

    .footer__links {
        flex-direction: row;
        /**/
        justify-content: space-evenly;
        /**/
        gap: 4em;
        /**/
        padding: 0 3rem;
        /**/
    }

    /*-------- FOOTER SOCIAL --------*/

    .footer__social {
        justify-content: space-evenly;
        /**/
        padding: 0 3rem;
        /**/
        font-size: 2.4em;
        /**/
    }

    /*-------- FOOTER LEGAL --------*/

    .footer__legal__policies>div {
        padding-top: 2rem;
        /**/
    }

}

@media only screen and (min-width: 1024px) {

    /*------------------------------------------ GRID/FLEX LAYOUT ------------------------------------------*/

    .wrapper {
        grid-template-columns: repeat(12, 1fr);
        /**/
    }

    /* WRAPPER SECTIONS */

    .wrapper header {
        grid-column: span 12;
        /**/
    }

    .wrapper main {
        grid-column: span 12;
        /**/

        column-gap: 0;
        /**/
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /**/
        grid-template-rows: repeat(5, auto);
        width: 100%;
        min-height: 100vh;
    }

    .wrapper footer {
        display: grid;
        grid-template-columns: 5% repeat(10, 1fr) 5%;
        /**/
        grid-template-rows: auto 6rem repeat(2, auto) 6rem auto;
        /**/
        justify-items: center;

        grid-column: span 12;
        /**/
    }

    /* MAIN SECTIONS */

    section.hero_section {
        display: flex;
        /**/
        justify-content: space-between;
        /**/
        grid-row: 1;
        grid-column: span 12;
        /**/
    }

    section.about {
        grid-row: 2;
        grid-column: span 12;
        /**/
    }

    section.services {
        grid-row: 3;
        grid-column: span 12;
        /**/
    }

    section.team {
        grid-row: 4;
        grid-column: span 12;
        /**/
    }

    section.gallery {
        grid-row: 5;
        grid-column: span 12;
        /**/
    }

    /* HERO SECTIONS */

    .hero_section__color {
        flex-basis: 61.2%;
        /**/
    }

    .hero_section__imgwrap {
        flex-basis: 50%;
        /**/
    }

    .hero_section__wrap p,
    .--hero {
        width: 85%;
    }

    /* FOOTER SECTIONS */

    .footer__waves {
        grid-row: 1;
        /**/
        grid-column: span 12;
        /**/
    }

    .footer__background {
        position: absolute;
        bottom: 3rem;
        height: 520px;
        width: 100%;
        background-color: var(--dark);
        z-index: -1;
    }

    .footer__links {
        grid-row: 3;
        /**/
        grid-column: 2/ span 3;
        /**/
    }

    .footer__social {
        grid-row: 4;
        /**/
        grid-column: 2/ span 3;
        /**/
    }

    .footer__ubication {
        grid-row: 3 /span 2;
        /**/
        grid-column: 9/ span 3;
    }

    .footer__contact {
        grid-row: 3 / span 2;
        /**/
        grid-column: 5/ span 4;
        /**/
    }

    .footer__legal {
        grid-row: 6;
        grid-column: span 12;
        /**/
        color: white;
    }

    /*------------------------------------------ HEADER ------------------------------------------*/

    header {
        position: relative;
        background-color: var(--principal);
        height: 10rem;
        /**/
        width: 100%;
    }

    .header__logo {
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        height: 3em;
        width: 8em;
        z-index: 1;
    }

    .header__logo img {
        position: absolute;
        top: 66%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: cover;
    }

    .header__menu_icon {
        display: none;
        /**/
    }

    /*------------------------------------------ NAV MENU ------------------------------------------*/

    .wrapper nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 10rem;
        /**/
        width: 45%;
        max-width: 600px;
        padding: 0 1%;
        background-color: var(--light);
        /**/
        z-index: 1;
    }

    .nav_menu {
        position: relative;
        /**/
        top: auto;
        /**/
        left: auto;
        /**/
        transform: none;
        /**/

        display: flex;
        /**/
        flex-direction: row;
        /**/
        align-items: center;
        /**/
        justify-content: space-evenly;
        /**/

        height: 100%;
        /**/
        width: 100%;
        /**/
        border-radius: 0;
        /**/
        background-color: transparent;
        /**/
        font-size: 1em;
        /**/
    }

    .nav_menu a {
        display: block;
        /**/
        height: auto;
        /**/
        width: auto;
        /**/
        color: var(--principal);
        /**/
        text-align: center;
        /**/
    }

    .nav_menu a:hover {
        background-color: transparent;
        /**/
        color: var(--dark);
        /**/
    }

    .nav_menu a:last-child {
        border-radius: 0;
        /**/
    }

    /*------------------------------------------ HERO SECTION ------------------------------------------*/

    .--hero {
        width: 85%;
        font-family: 'Hero', cursive;
        font-size: 2.8rem;
        font-weight: lighter;
        line-height: 4rem;
    }

    .hero_section {
        position: relative;
        /**/
        height: 650px;
        /**/
        height: min(50vw, 650px);
        /**/
        background-image: none;
        /**/
        background-color: var(--principal);
        /**/
    }

    .hero_section__color {
        height: 100%;
        width: 100%;
        background-color: transparent;
        /**/
    }

    .hero_section__wrap {
        position: relative;
        left: 10%;
        /**/
        top: 45%;
        /**/
        transform: translateY(-50%);
        /**/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /**/
        justify-content: center;
        /**/
        gap: 2rem;
        width: 90%;
        text-align: left;
        /**/
        max-width: 70ch;
        color: white;
    }

    .hero_section__wrap p {
        font-size: 1rem;
    }

    /*-------- HERO IMAGE WRAP --------*/

    .hero_section__imgwrap {
        position: relative;
        /**/
        margin-right: 0;
        /**/
        height: 100%;
        width: 50%;
        max-width: 700px;
        background-color: var(--light);
    }

    .hero_section__square {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        /* = width for a 1:1 aspect ratio */
    }

    .hero_section__imgwrap__img {
        position: absolute;
        top: 5%;
        right: 5%;
        height: 100%;
        width: 100%;
        background-image: url(../images/hero3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: hero 50s infinite;
    }

    .hero_section__imgwrap__colorback {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--emphasis);
    }

    @keyframes hero {
        0% {
            background-image: url(../images/hero1.jpg);
        }

        14.29% {
            background-image: url(../images/hero2.jpg);
        }

        28.57% {
            background-image: url(../images/hero3.jpg);
        }

        42.86% {
            background-image: url(../images/hero4.jpg);
        }

        57.14% {
            background-image: url(../images/hero5.jpg);
        }

        71.43% {
            background-image: url(../images/hero6.jpg);
        }

        85.71% {
            background-image: url(../images/hero7.jpg);
        }

        100% {
            background-image: url(../images/hero1.jpg);
        }
    }

    /*------------------------------------------ ABOUT ------------------------------------------*/

    .about::before {
        content: '';
        display: block;
        background-image: none;
        /**/
        background-color: var(--light);
        /**/
        height: 25rem;
        /**/
        width: 100%;
    }

    .about {
        background-color: var(--light);
        /**/
        margin-bottom: 20rem;
    }

    .about::after {
        position: absolute;
        content: '';
        display: block;
        background-image: none;
        /**/
        background: var(--light);
        /**/
        background: linear-gradient(180deg, rgba(210, 200, 224, 1) 0%, rgba(210, 200, 224, 0) 100%);
        /**/
        height: 20rem;
        /**/
        width: 100%;
    }

    .about__wrap {
        position: relative;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    /*------------------------------------------ SERVICES ------------------------------------------*/

    .services__cards {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        gap: 3rem;
        width: 100%;
        max-width: 1400px;
    }

    .services__cards__item.--1 {
        grid-row: 1;
        grid-column: 1;
    }

    .services__cards__item.--2 {
        grid-row: 1;
        grid-column: 2;
    }

    .services__cards__item.--3 {
        grid-row: 1;
        grid-column: 3;
    }

    /*------------------------------------------ FOOTER ------------------------------------------*/

    footer {
        font-size: 1rem;
        /**/
    }

    /*-------- FOOTER WAVES --------*/

    .footer__waves {
        height: 130px;
        margin-bottom: -3%;
    }

    .waves__wave--w1,
    .waves__wave--w2,
    .waves__wave--w3 {
        position: absolute;
        /**/
        height: 130px;
        /**/
        width: 100%;
        /**/
        background-size: 2100px 130px;
        /**/
    }

    .waves__wave--w1 {
        /**/
        background-image: url("../images/w1.svg");
        animation: w1 30s linear infinite;
        z-index: 3;
    }

    .waves__wave--w2 {
        /**/
        background-image: url("../images/w2.svg");
        animation: w2 45s linear infinite;
        z-index: 2;
        bottom: 10px;
    }

    .waves__wave--w3 {
        /**/
        background-image: url("../images/w3.svg");
        animation: w3 60s linear infinite;
        z-index: 1;
        bottom: 20px;
    }

    @keyframes w1 {
        0% {
            background-position-x: 2100px;
        }

        100% {
            background-position-x: 0px;
        }
    }

    @keyframes w2 {
        0% {
            background-position-x: 0px;
        }

        100% {
            background-position-x: 2100px;
        }
    }

    @keyframes w3 {
        0% {
            background-position-x: 2100px;
        }

        100% {
            background-position-x: 0px;
        }
    }

    /*-------- FOOTER LINKS --------*/

    .footer__links {
        display: flex;
        flex-direction: row;
        /**/
        justify-content: space-evenly;
        /**/
        align-items: center;
        gap: 0;
        /**/
        max-width: 500px;
        /**/
        padding: 0;
        /**/
    }

    .footer__links__logo {
        height: 8em;
        width: 8em;
        border-radius: 2px;
    }

    .footer__links__logo img {
        width: 100%;
        height: 100%;
    }

    .footer__links__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
        min-width: 93px;
    }

    /*-------- FOOTER SOCIAL --------*/

    .footer__social {
        align-items: flex-start;
        /**/
        justify-content: space-evenly;
        /**/
        gap: 0.5em;
        /**/
        max-width: 500px;
        /**/
        padding: 0;
        /**/
        font-size: 2.3em;
        /**/
    }

    /*-------- FOOTER UBICATION --------*/

    .footer__ubication {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        height: 90%;
        width: 100%;
    }

    .footer__ubication__map {
        border-radius: 15px;
        height: 17rem;
        /**/
        width: 90%;
        /**/
        max-width: 400px;
        /**/
        overflow: hidden;
    }

    .footer__ubication p {
        font-size: 0.8em;
        text-align: center;
    }

    /*-------- FOOTER CONTACT --------*/

    .footer__contact {
        height: 100%;
        /**/
        padding: 0;
        /**/
        background-color: var(--dark);
        /**/
    }

    .contact__wrap {
        height: 100%;
        /**/
        gap: 0;
        /**/
        width: 90%;
        /**/
    }

    .footer__contact__form {
        max-width: 380px;
        margin: 0;
        /**/
    }

    .footer__contact__reviews {
        display: none;
        /**/
    }

    .footer__contact__form {
        flex-basis: auto;
        /**/
        height: 100%;
        /**/
        border: none;
        /**/
        box-shadow: none;
        /**/
    }

    .footer__contact__form h2 {
        padding-bottom: 0.5em;
        /**/
    }

    .form {
        gap: 0.8em;
        /**/
    }

    .form__field input {
        height: 2em;
        /**/
        border-radius: 50px;
        font-size: 0.8em;
    }

    .form :nth-child(4) {
        margin-bottom: -5px;
    }

    .form__field textarea {
        height: 5em;
        /**/
        padding: 0.8em 1.3em;
        border-radius: 17px;
        /**/
    }

    .form .--button {
        height: 2.5em;
    }

    /*-------- FOOTER LEGAL --------*/

    .footer__legal {
        flex-direction: row;
        /**/
        height: 3em;
        /**/
        width: 100%;
        padding: 0 5%;
        /**/
        background-color: var(--neutro);
        /**/
        color: black;
        /**/
    }

    .footer__legal__policies {
        flex-direction: row;
        /**/
        justify-content: center;
        /**/
        height: 100%;
        /**/
        width: 60%;
        /**/
        margin-bottom: 0;
        /**/
    }

    .footer__legal__policies>div {
        flex-wrap: nowrap;
        /**/
        padding-top: 0;
        /**/
    }

    .footer__legal__policies p {
        padding-bottom: 0;
        /**/
        padding-left: 0;
        /**/
        padding-right: 0em;
        /**/
    }

    .footer__legal__policies div p {
        min-width: 230px;
    }

    .footer__legal__attribution {
        width: 40%;
        /**/
    }

}

@media only screen and (min-width: 1440px) {
    /*------------------------------------------ GRID LAYOUT ------------------------------------------*/


    /* WRAPPER SECTIONS */

    .wrapper footer {
        grid-template-columns: 15% repeat(10, 1fr) 15%;
    }

    .services__wrap {
        gap: 3rem;
    }

    .services__card__figure {
        height: 300px;
        width: 300px;
        margin: -40px auto;
    }

    .services__card__figure img {
        height: 250px;
    }
}

@media only screen and (min-width: 1600px) {
    /*------------------------------------------ HERO SECTION ------------------------------------------*/

    .hero_section__wrap {
        left: 25%;
        /**/
    }
}

@media only screen and (min-width: 2000px) {
    .hero_section__color {
        flex-basis: 100%;
        margin: 0 auto;
    }

    .hero_section__wrap {
        width: auto;
        margin: 0 auto;
    }

    .hero_section__imgwrap {
        flex-basis: 100%;
        height: 100%;
        max-width: none;
    }

    .hero_section__square {
        position: static;
        padding-bottom: 0;
    }
}